<<<<<<< HEAD
<footer class="footer text-center">
    <div class="footer-top">
        <div class="row">
            <div>
                <div class="widget">
                    <h4 class="widget-title">name</h4>
                    <p>
                     © Name. All Rights Reserved

                    </p>
            </div>
=======
<footer class="page-footer pink lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Name</h5>
          <p class="grey-text text-lighten-4">Tasty treats.</p>
>>>>>>> 273b4447cb19001d8e0a1ef79abf5fee5304397f
        </div>
    </div>
</footer>
