<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>User - Home Page</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- External CSS -->

  <!-- Materialized -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">


  <!-- SASS styling link -->
<!--
  <link rel="stylesheet" href="../../sass/styles.scss"  /> -->

  <!-- CSS -->
  <link rel="stylesheet" href="stylesheets/menu.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/footer.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/navbar.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/homepage.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/restaurant.css" type="text/css">


  <!-- External JS -->
   <!-- JS -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/custom.js"></script>

  <!-- Materialized -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>


</head>
