<nav class="main-nav indigo lighten-1" role="navigation">
    <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
     <img id="logo" src="../images/Logomakr_3n7vJw.png" height= "45px", width = "45px"/>
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">WHAT</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">THE</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>