<nav class="main-nav indigo lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
       <img id="logo" src="../images/Logomakr_3n7vJw.png" height= "45px", width = "45px"/>
      </a>
      <span class="pull-right menu-icon menuButton"><a href="#about">About</a></span>
      <span class="pull-right menu-icon menuButton"><a href="/">Home</a></span>
      <span onclick="openNav()" class="pull-right menu-icon menuButton"><a href="#">Menu</a></span>
      <ul class="right hide-on-med-and-down">
        <li>
           <header id="header">
                <div class="container">
                    <div id="mySidenav" class="sidenav">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                      <a href="/menu">Menu</a>
                      <a href="/">Home</a>
                      <a href="#">About</a>
                    </div>
                </div>
            </header>
          </li>
      </ul>
    </div>
  </nav>
