<% include ./partials/_head %>

<body>

<% include ./partials/_header %>

<section>
  <container>
    <h1>Name</h1>
  </container>
</section>

<section>
  <container>
    <p>Lorem ipsum dolor sit amet, morbi non, ut libero congue mattis, ligula aliquam ornare. Morbi dui lacus quis. Neque nunc, donec nec nec ante reprehenderit pharetra in, faucibus sed fermentum rutrum, nulla impedit diam tempor accumsan ac ut. Elit sed eget rhoncus tellus, et faucibus, vitae amet mattis velit vivamus vivamus amet, diam interdum, elementum turpis wisi nec. Nec vitae in amet faucibus. Hendrerit aliquet elit tempor quisque sem nibh, dictum orci faucibus, iaculis erat morbi velit quis platea. At elementum arcu lacus sodales in volutpat, tempor eleifend elit, mauris orci eget ut, risus sociis, erat arcu. Id ligula erat venenatis, veniam euismod natoque eget luctus mus. Ac vehicula convallis duis in.</p>
  </container>
</section>

<section>
  <container>
    <div class="row">
      <div class="col s12">
        <h2>Contact</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="col s4">
          <h2>Address</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, morbi non, ut libero congue mattis, ligula aliquam ornare. Morbi dui lacus quis. Neque nunc, donec nec nec ante reprehenderit pharetra in, faucibus sed fermentum rutrum, nulla impedit diam tempor accumsan ac ut. Elit sed eget rhoncus tellus, et faucibus, vitae amet mattis velit vivamus vivamus amet, diam interdum, elementum turpis wisi nec.</p>
      </div>
      <div class="col s6">
        <div class="col s4">
          <h2>Hours</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, morbi non, ut libero congue mattis, ligula aliquam ornare. Morbi dui lacus quis. Neque nunc, donec nec nec ante reprehenderit pharetra in, faucibus sed fermentum rutrum, nulla impedit diam tempor accumsan ac ut. Elit sed eget rhoncus tellus, et faucibus, vitae amet mattis velit vivamus vivamus amet, diam interdum, elementum turpis wisi nec.</p>
      </div>
    </div>
    <div class="row">
      <div class="col 12">
        <h2>Map holder</h2>
      </div>
    </div>
  </container>
</section>

<% include ./partials/_footer %>

</body>
</html>