<% include ./partials/_head %>

<body>

<% include ./partials/_header %>

<h2>Twilio Button Test</h2>


<form action="/sendOrder" method="Post">
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
     <i class="material-icons right">send</i>
   </button>
</form>





<% include ./partials/_footer %>

</body>
</html>
