<% include ./partials/_head %>

<body>

<% include ./partials/_header %>

<h2>Twilio Button Test</h2>



 <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>




<% include ./partials/_footer %>

</body>
</html>