<% include ./partials/_head %>

<body>

<% include ./partials/_header %>

<section>
  <container>
  <h1>Menu</h1>
  </container>
</section>

<section>
  <container>
    <div class="row">
      <div class="col s2"></div>
      <div class="col s6">

      <ul class="collapsible" data-collapsible="accordion">
        <li class="food-item " data-food-item-id="1">
          <div class="collapsible-header food-item food-item-1" data-food-item-id="1">
            <i class="material-icons">filter_drama</i>Cheesecake
          </div>

          <div class="collapsible-body description">
            <h3 class="title">Cheesecake</h3>
            <img src="../public/images/cheesecake.jpeg" />
            <p class="description">This cheesecake is super creamy, lightly sweet, and has the most wonderful flavor and smell. It's a showstopper of a dessert. Try this if you're looking to taste floral flavors.</p>
              <div class="row">
                <a class="subtract-quantity waves-effect waves-light btn">-</a>
                  <span class="counter counter-food-item-1"></span>
                  <a class="add-quantity waves-effect waves-light btn">+</a>
                  <button class="btn waves-effect waves-light add-to-cart" type="submit" name="action">Add to Cart
                    <i class="material-icons right">send</i>
                  </button>
              </div>
          </div>
        </li>


        <li class="food-item " data-food-item-id="2">
            <div class="collapsible-header food-item food-item-2" data-food-item-id="2">
              <i class="material-icons">filter_drama</i>Chocolate Cake
            </div>

            <div class="collapsible-body description">
              <h3 class="title">Chocolate Cake</h3>
              <p class="description">Man oh man is this cake worthy of a holiday of its own. It's rich and deep in flavor but light in texture, with a little crunch from our choice of toppings. (We went with dried oranges from Simple & Crisp and dehydrated blood oranges we made ourselves). You'll be sharing this with your partner or roommates this lovely weekend for sure :)</p>
                <div class="row">
                  <a class="subtract-quantity waves-effect waves-light btn">-</a>
                    <span class="counter counter-food-item-2"></span>
                    <a class="add-quantity waves-effect waves-light btn">+</a>
                    <button class="btn waves-effect waves-light add-to-cart" type="submit" name="action">Add to Cart
                      <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
          </li>

          <li class="food-item " data-food-item-id="3">
            <div class="collapsible-header food-item food-item-3" data-food-item-id="3">
              <i class="material-icons">filter_drama</i>Chocolate Chip Cookie
            </div>

            <div class="collapsible-body description">
              <h3 class="title">Chocolate Chip Cookie</h3>
              <p class="description">THESE are something special. With a soft cocoa cookie base, crispy crunchy oats, a slight hint of coconut, and the perfect amount of salt, these are cookies you’ll eat right up in no time.</p>
                <div class="row">
                  <a class="subtract-quantity waves-effect waves-light btn">-</a>
                    <span class="counter counter-food-item-3"></span>
                    <a class="add-quantity waves-effect waves-light btn">+</a>
                    <button class="btn waves-effect waves-light add-to-cart" type="submit" name="action">Add to Cart
                      <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
          </li>

          <li class="food-item " data-food-item-id="4">
            <div class="collapsible-header food-item food-item-4" data-food-item-id="4">
              <i class="material-icons">filter_drama</i>Apple Pie
            </div>

            <div class="collapsible-body description">
              <h3 class="title">Apple Pie</h3>
              <p class="description">All organic.</p>
                <div class="row">
                  <a class="subtract-quantity waves-effect waves-light btn">-</a>
                    <span class="counter counter-food-item-4"></span>
                    <a class="add-quantity waves-effect waves-light btn">+</a>
                    <button class="btn waves-effect waves-light add-to-cart" type="submit" name="action">Add to Cart
                      <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
          </li>

          <li class="food-item " data-food-item-id="5">
            <div class="collapsible-header food-item food-item-5" data-food-item-id="5">
              <i class="material-icons">filter_drama</i>Tiramisu
            </div>

            <div class="collapsible-body description">
              <h3 class="title">Tiramisu</h3>
              <p class="description"> You probably thought that the best Tiramisu you would ever have would be from Rome, at this sweet little restaurant right near the Spanish Steps...sigh, I think this one will change your mind.</p>
                <div class="row">
                  <a class="subtract-quantity waves-effect waves-light btn">-</a>
                    <span class="counter counter-food-item-5"></span>
                    <a class="add-quantity waves-effect waves-light btn">+</a>
                    <button class="btn waves-effect waves-light add-to-cart" type="submit" name="action">Add to Cart
                      <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
          </li>

        </ul>
    </div>

      <div>

        <div class="col s4 cart">
          <h2>Cart</h2>
          <p class="empty-cart-message">It looks like your cart is empty.</p>
          <section class="cart-items">
          </section>
        </div>


          <form action="/sendOrder" method="Post">
            <button style="display:none" class="btn waves-effect waves-light place-order" type="submit" name="sendOrder">Send Order
            <i class="material-icons right">send</i>
            </button>
          </form>
      </div>
    </div>
  </container>
</section>

<% include ./partials/_footer %>

</body>
</html>
