<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>dummy page</title>
  </head>
  <body>
    <form action="/dummyPage" method="post">
      <input type="text" placeholder="text1" name="text" />
      <input type="submit" name="submit"  />
    </form>
  </body>
</html>
