<% include ./partials/_head %>


  <% Object.keys(orders).forEach(function(order_id) { %>
    <% order = orders[order_id]; %>
<div class="container-rest row">

  <div class="order-header-title">
  <img id="logo" src="../images/Logomakr_3n7vJw.png" height="45px" ,="" width="45px">
  <h2 class="logo-name" style="margin: 20px">Just Desserts.</h2>
  </div>

  <div class= "order-box col s12">
    <div class="order-header col s12">
      <i class="small material-icons restaurant-alert">error</i>
        Order #<%= order.order_id %></br>
    </div>

    <div class="order-table">
      <div class = "order-table-title col s6">
        ITEM
      </div>
      <div class = "order-table-title col s6">
        QUANTITY
      </div>
    </div>

    <div class="order-data">
    <% order = orders[order_id]; %>
    <% order.items.forEach(function(item) { %>
      <table>
        <tbody>
          <tr>
            <td><% if (item.recipe_id == 1) { %>
        Cheesecake
        <% } %>
        <% if (item.recipe_id == 2) { %>
        Chocolate Cake
        <% } %><% if (item.recipe_id == 3) { %>
         Chocolate Chip Cookie
        <% } %><% if (item.recipe_id == 4) { %>
         Apple Pie
        <% } %><% if (item.recipe_id == 5) { %>
         Tiramisu
        <% } %>
        </td>
            <td>  <%= item.quantity %></td>
            <% }); %>
          </tr>
        </tbody>
      </table>
    </div>

  <% }); %>


 <!--    </div> -->
    <div class="buttons col s12">
      <form action="/confirm-order" method="POST">

        <i class="small material-icons icon">schedule</i>
        <input id="timeBox" type="text" name="timeBox" placeholder="Est Time" style="width: 60px">

        <button class ="cheffConfirmOrder waves-effect waves-light button-spacing btn" type="submit" value="submit">Confirm Order</button>

         <a class="action-decline-btn waves-effect waves-light btn button-spacing">Decline Order</a>

        <a class="action-complete-btn waves-effect waves-light btn button-spacing">Order Completed</a>

      </form>
        </div>
    </br>
  </div>
</div>

  </body>
</html>
