<% include ./partials/_head %>
    <% include ./partials/_header %>

    <script type="text/javascript">
    $('.action-accept-btn').openFAB();
    </script>

  <% Object.keys(orders).forEach(function(order_id) { %>
    <% order = orders[order_id]; %>
    <div class="container row">
      <div class="order-header col s12">
        <i class="small material-icons restaurant-alert">error</i> Order #<%= order.order_id %> </br>
      </div>
    <% order = orders[order_id]; %>

    <% order.items.forEach(function(item) { %>
      <br>
      Dessert Item:
      <% if (item.recipe_id == 1) { %>
      <h4> Cheesecake </h4>
      <% } %>
      <% if (item.recipe_id == 2) { %>
      <h4> Chocolate Cake </h4>
      <% } %><% if (item.recipe_id == 3) { %>
      <h4> Chocolate Chip Cookie </h4>
      <% } %><% if (item.recipe_id == 4) { %>
      <h4> Apple Pie </h4>
      <% } %><% if (item.recipe_id == 5) { %>
      <h4> Tiramisu </h4>
      <% } %>
      quantity: x<%= item.quantity %></br>
      <div class="buttons">
    <% }); %>

    <form action="/confirm-order" method="POST">
      <input id="timeBox" type="text" name="timeBox" placeholder="This Order Will Take..">
    </form>
  <!-- buttons -->
        <a class="action-accept-btn waves-effect waves-light btn onclick='' confirm-time-btn ">Confirm Order</a>
        <a class="waves-effect waves-light btn onclick='' ">Decline</a>
      </div>
    </div>
    <hr>
<% }); %>


 <% include ./partials/_footer %>


  </body>
</html>
