body {
  background-color: red;
}

.container-fluid {
  border: 1px solid red;
  width: 80%;
  margin: 0 auto;


}

.header-title {
  border: 1px solid red;
  margin-top: 20px;
}

.order-box {
  border: 4px solid black;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 30px 10px 30px;
}

.order-header {
  border: 1px solid red;
}

.status {
  border: 1px solid red;
}

.order-info-box {
  border: 1px solid black;
}

.order-info {
 border: 0px solid red;
 text-align: left;
 height: auto;
 padding: 3px;
 font-size: 18px;
}

.order-info-data {
 border: 1px solid red;
 text-align: left;
 height: auto;
 padding: 3px;
 font-size: 16px;
}



.btn-group {
  border: 1px solid red;
  padding: 5px;

}

.btn-spacing {
  margin-right: 5px;
}

img {
  height: 20px;
  width: 20px;
}
