

body {
	font-size: 15px;
    /*line-height: 1.52;*/
    background-color: #FFF7E2;
    font-size: 16px;
	  font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /*overflow-x: hidden;*/
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#banner{
    background: url(../images/background.jpg) no-repeat center top;
    background-size: cover;
    height: 630px;
}
/*.bg-color{
    background-color: RGBA(0, 0, 0, 0.61);
    min-height: 630px;
}*/
#banner h2{
    font-family: 'Satisfy', sans-serif;
    font-size: 45px;
    color: #2ED3AF;
}
#banner p{
    font-family: 'PT Sans', sans-serif;
    color: #2ED3AF;
    font-size: 34px;
}

.logo-name{
    font-family: 'Satisfy', sans-serif;
    font-size: 65px;
    margin-top: 140px;
    color: #2BBCB0;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFF7E2;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #2BBCB0;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #FFF7E2;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.header-h {
    color: #FFB03B;
    font-size: 46px;
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
}
.header-p {
    color: #9699a6;
    font-size: 16px;
}

.heading{
    font-family: 'Satisfy', sans-serif;
    color: #FFB03B;
    font-size: 24px;
}

.details-list{
    margin-top: 20px;
}
.details-list ul li i {
    margin-right: 10px;
    color: #ffb03b;
}

.details-text {
    border-right: 2px solid #841b2d;
}
.details-text {
    background-color: rgba(14, 4, 4, 0.70);
    border-right: 2px solid #A87F41;
    padding: 20px 20px 30px 30px;
    overflow: auto;
}

.details-text p {
    color: #E8E8E8;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 300;
}

.footer {
    width: 100%;
    background-color: #2ED3AF;
    position: relative;
    text-align: center;
    margin-bottom: auto;
}
.footer a {
    color: #fff;
}

.footer .footer-top {
    padding-top: 9rem;
    padding-bottom: 5rem;
}

.list-horizontal li {
    display: inline-block;
}

.container {
  text-align: center;
}


/*.pull-right {
  position: absolute;
  left: -50px;
  margin-left: 5px;
}*/

.widget {
  margin: auto;
}

span {
  margin: auto;
  display: inline-block;
}

.pull-right {
	margin-left: 20px;
}

@media (min-width: 768px) and (max-width: 980px) {
    .content-holder h2 {
        font-size: 23px;
    }
    .details-text p {
        line-height: 16.6px;
    }

}
@media (min-width: 451px) and (max-width: 767px) {
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }

}
